.cart-item {
    margin: 80px 0px;
}

.cart-item hr {
    height: 1px;
    background: #ededed;
    border: 0;
}

.cart-item-row {
    display: grid;
    /* margin-left: 100px; */
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 55px;
    padding: 20px 10px;
    font-size: 16px;
    color: #363636;
    /* font-weight: 450; */
}

.size-item {
    color: red;
    width: 30px;
    /* font-weight: 800; */
    /* font-size: 12px; */
}

img .carImg {
    width: 50px;
    height: 60px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease-in-out;
}

img.carImg:hover{
    transform: scale(1.1);
}

.cartItem-format button {
    border: 1px solid #d4d4d4;
    height: 30px;
    width: 30px;
    background: rgb(255, 255, 255);
    color: rgb(70, 70, 70);
    font-weight: bold;
}



/* CSS */
.cartItem-down button {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.cartItem-down button:hover,
.cartItem-down button:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.cartItem-down button:hover {
    transform: translateY(-1px);
}

.cartItem-down button:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

.cartItem-total {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cartItem-total button{
    width: 20%;
    font-size: 14px;
}

.title-item{
    font-size: 20px;
    font-weight: 500;
}

.cartItem-total-item {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 10px 0px;
    width: 60%;
}

.cratItem-down button {
    padding: 10px 0px;
    width: 180px;
    border: 0;
    background: tomato;
    color: white;
    letter-spacing: 1px;
}

.cartItem-total hr {
    width: 63%;
}

.cartitem-quantity {
    border: 2px solid rgb(226, 226, 226);
    width: 64px;
    /* height: 28px; */
    padding: 7px;
    text-align: center;
    display: grid;
}

img.remove-item {
    padding: 29px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.remove-item:hover {
    color: red;
    transform: scale(1.5);
}