

.avatar-upload {
    border: 1px solid rgb(195, 195, 195);
    /* display: flex; */
    padding: 10px;
    position: relative;
    top: 50px;
    left: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
   
    border-radius: 10px;
}

.avatar-upload button{
    border: 1px solid rgb(197, 197, 197);
    width: 21%;
    position: relative;
    top: 10px;
    padding: 5px 0px;
    border-radius: 5px;

    background: tomato;
}